.hero-unit {
  background-color: #d0b696;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.hero-unit#main {
  height: 100%;
  background-image: url("/public/img/background.png");
  background-repeat: repeat;
  background-size: 5%;
}

#main {
  padding-top: 55px;
}

form#classSearch input {
  /*padding: 25px;*/
}
form#classSearch .btn#go {
  padding-top: 14px;
  padding-bottom: 13px;
}
form#classSearch .btn#toggle {
  padding-top: 14px;
  padding-bottom: 11px;
}

form#classSearch {
  padding: 30px 50px;
}

.footer {
  margin-top: 20px;
  padding-top: 50px;
  background-color: #0c0919;
  border-top: solid 5px #1ca4e9;
  color: #eee;
  height: 300px;
}

.actions {
  margin: 10px 0px;
}

.text-small {
  font-size: 90%;
  color: #535353;
}

.border-danger {
  border-left: solid 7px #e62426 !important;
}

.border-warning {
  border-left: solid 5px #e0d916 !important;
}

.border-default {
  border-left: solid 3px #23a020 !important;
}

.nav-list li {
  padding: 3px;
}

.nav-list li a {
  padding-left: 10px;
  border-left: 2px solid white;
  color: #999;
}

.nav-list li a.visit {
  color: #0c0919;
}

.nav-list li a:hover {
  border-left: 2px solid #fd7a08;
  text-decoration: none;
}