{{set . "title" "Class Page"}}
{{append . "moreScripts" "js/fullcalendar.min.js"}}
{{append . "moreScripts" "js/main.js"}}
{{append . "moreStyles" "css/fullcalendar.css"}}
{{append . "moreStyles" "css/fullcalendar.print.css"}}
{{template "header.html" .}}

<div class="container" id="main">
	<h1>We have curated your schedules.</h1>
	<p>{{ .total }} possible schedules found. Here are the top 20.</p>
	{{ if .to }}
		<div class="alert alert-danger">
			The computer took too long to process this schedule. These results are not guaranteed to be the best, but they are correct schedules.
		</div>
	{{ end }}
	{{ $perma := .perma }}
	{{ range $i, $v := .sched }}
		<div class="panel panel-default">
			<div class="panel-heading">
				Schedule {{ addOne $i }}
			</div>
			<div class="panel-body" id="calendar{{ $i }}">
			</div>
			<script>
				$(document).ready(function() {
					$("#calendar{{ $i }}").fullCalendar({
						weekends: false,
						defaultView: 'agendaWeek',
						minTime: 8,
						maxTime: 22,
						header: false,
						events: function(start, end, callback) {
							var output = [];
							var objects;
							{{ range $classNum, $cl := .Classes }}
								{{ range $secNum, $sec := .GetSections }}
									{{ range $sec.Meetings }}
									objects = 
										createEvent(
											'{{ $cl.Department }} {{ $cl.Number }} ({{ $sec.SISNumber }})',
											start,
											'{{ formatTime .StartTime }}',
											'{{ formatTime .EndTime }}',
											'{{ .Days }}');
									for(x in objects) {
										output.push(objects[x]);
										console.log(objects[x]);
									}
									// output.push(objects);
									{{ end}}
								{{ end }}
							{{ end }}
							// console.log([].concat.apply([], output));
							// callback([].concat.apply([], output));
							callback(output);
						}
					})
				});
			</script>
			<div class="panel-footer">
				<div class="pull-right">
				<a href="/schedule/{{ $perma }}/{{ $i }}">Permalink</a>
				</div>
				Score: {{ $v.Score }}
			</div>
		</div>
	{{ else }}
	<div class="alert alert-danger">
		Looks like those classes don't have any possible schedule. Sorry about that! Maybe you want to try with different classes.
	</div>
	{{ end }}
</div>

{{template "footer.html" .}}