{{set . "title" .dept }}
{{template "header.html" .}}

<div class="container" id="main">
<br/>
{{ $loggedIn := .loggedIn }}
{{ range .classes }}
	{{ $op := classCreator . $loggedIn }}
	{{ template "class.html" $op }}
{{ else }}
<h1>Sorry, couldn't find any classes for that department.</h1>
{{ end }}
</div>

<script>
	$(document).ready(function() {
		$(".slider").click(function() {
			if ($(this).children("i").hasClass("fa-plus-square")) {
				$(this).parent().parent().parent().children(".list-group").slideDown();
				$(this).children("i").removeClass("fa-plus-square");
				$(this).children("i").addClass("fa-minus-square");
			} else {
				$(this).parent().parent().parent().children(".list-group").slideUp();
				$(this).children("i").removeClass("fa-minus-square");
				$(this).children("i").addClass("fa-plus-square");
			}
			return false;
		});
	});
</script>

{{template "footer.html" .}}