{{set . "title" "Leath's List"}}
{{template "header.html" .}}

<div class="hero-unit" id="main">
  <div class="container">
    <!-- <h1>Find information on classes.</h1> -->
    <form role="search" method="post" action="/search" id="classSearch">
      <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" id="toggle" data-toggle="dropdown">Fall 2014 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">Spring 2015</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-lg" placeholder="Get info on ECON 3020" name="class">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg" id="go" type="submit" value="Search"/>
      </span>
      </div>
    </form>
    <form role="search" method="post" action="/build" id="classSearch">
      <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" id="toggle" data-toggle="dropdown">Fall 2014 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">Spring 2015</a></li>
        </ul>
      </div>
      <input type="text" class="form-control input-lg" placeholder="ECON 3020, ECON 3010, ECON 3720" name="userList">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg" id="go" type="submit" value="Build My Schedule"/>
      </span>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <br/>
  <div class="alert alert-info">
    We are getting more traffic than originally anticipated. Please bear with us as we optimize the site. If the site goes down, please try again in a few minutes.<br/><br/>
    <strong>New (8:53PM):</strong> We have added a timeout feature to the site so that requests with too many schedules will not crash the entire system.<br/>
    <strong>New (11:15PM):</strong> Moved to a larger server to handle capacity. I'm temporarily adding ads to the site to offset this (massive) bill.
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Why?</h3>
      <p>UVa lacks a general purpose schedule builder as well as an automated way for programs to access class listings. Lou's List goes halfway there by "freeing" class information from SIS, but doesn't provide an easy to access API.
    </div>
    <div class="col-md-4">
      <h3>How?</h3>
      <p>Much like how Lou's List accesses SIS itself, this API caches all data from Lou's List once an hour and makes it publically available.</p>
    </div>
    <div class="col-md-4">
      <h3>Contribute</h3>
      <p>Help make class registration and scheduling the best at UVa by building applications on top of our Class API (to be released soon).</p>
    </div>
  </div>
  <br/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Leath's List -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2961163517452115"
     data-ad-slot="7006173095"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<br/><br/><br/>

{{template "footer.html" .}}
