{{set . "title" "Leath's List"}}
{{template "header.html" .}}

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/public/js/triangles.js"></script>
<script>
  $(document).ready(function() {
    var t = new Trianglify({
      x_gradient: colorbrewer.PuOr[9],
    });
    var pattern = t.generate(document.body.clientWidth, 500);
    $(".hero-unit")[0].setAttribute('style', 'background-image: '+pattern.dataUrl + '; background-repeat: none; background-size: 100%;');
  });
</script>
<style>
@media(max-width: 960px;) {
  .hero-unit {
    background-width: 960px;
  }
}
</style>

<div class="hero-unit" id="main">
  <div class="container">
    <!-- <h1>Find information on classes.</h1> -->
    <form role="search" method="post" action="/search" id="classSearch">
      <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" id="toggle" data-toggle="dropdown">Fall 2014 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">Spring 2015</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control input-lg" placeholder="Get info on ECON 3020" name="class">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg" id="go" type="submit" value="Search"/>
      </span>
      </div>
    </form>
    <form role="search" method="post" action="/build" id="classSearch">
      <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" id="toggle" data-toggle="dropdown">Fall 2014 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="#">Spring 2015</a></li>
        </ul>
      </div>
      <input type="text" class="form-control input-lg" placeholder="ECON 3020, ECON 3010, ECON 3720:{1}" name="userList">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg" id="go" type="submit" value="Build My Schedule"/>
      </span>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <br/>
  {{ if .flash.success }}
  <div class="alert alert-success">
    {{ .flash.success }}
  </div>
  {{ end }}
  {{ if .flash.error }}
  <div class="alert alert-warning">
    {{ .flash.error }}
  </div>
  {{ end }}
</div>

{{ if .loggedIn }}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>My Class List</h3>
      <ul class="list-group">
        {{ range .classes }}
          <li class="list-group-item">
            <div class="pull-right" style="top: -2px; position: relative;">
              <!-- <button class="btn btn-xs btn-warning">Alert</button> -->
              <a href="/class/{{ .Department }}/{{ .Number }}/remove" class="btn btn-xs btn-danger">X</a>
            </div>
            <a href="/class/{{ .Department }}/{{ .Number }}">{{ .Department }} {{ .Number }}</a> -
            <span class="text-muted">{{ .Name }}</span> <br/>
          </li>
        {{ else }}
          <li class="list-group-item">
            Go and add some classes by browsing below or searching for a class above.
          </li>
        {{ end }}
      </ul>
      <form role="search" method="post" action="/build">
        <input type="hidden" value="{{ range .classes }}{{ .Department }} {{ .Number }},{{ end }}" name="userList">
        <input class="btn btn-primary" id="go" type="submit" value="Schedules from Class List"/>
      </form>
    </div>
    <div class="col-xs-6">
      <h3>My Saved Schedules</h3>
    </div>
  </div>
<hr/>
</div>
{{ else }}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Why?</h3>
      <p>UVa lacks a general purpose schedule builder as well as an automated way for programs to access class listings. Lou's List goes halfway there by "freeing" class information from SIS, but doesn't provide an easy to access API.
    </div>
    <div class="col-md-4">
      <h3>How?</h3>
      <p>Much like how Lou's List accesses SIS itself, this API caches all data from Lou's List once an hour and makes it publically available.</p>
    </div>
    <div class="col-md-4">
      <h3>Contribute</h3>
      <p>Help make class registration and scheduling the best at UVa by building applications on top of our Class API (to be released soon).</p>
    </div>
  </div>
</div>

<div style="background-color: #dddddd; padding: 20px 0; margin: 10px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <h3 style="margin-top: 0;">Register</h3>
        <form class="form" method="post" action="/register">
          <div class="form-group">
            <input type="text" placeholder="Name" class="form-control" name="name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Confirm Password" class="form-control" name="cpassword">
          </div>
          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>

      <div class="col-md-4">
        <h4>Why?</h4>
        <p>By logging in or registering, you get access to more features than anonymous users, and you will see new features before they go live on the homepage.</p>
        <ul class="list-unstyled text-success" style="margin-left: 10px;">
          <li><i class="fa fa-check"></i> Save Schedules</li>
          <li><i class="fa fa-check"></i> Class Opening Alerts</li>
          <li><i class="fa fa-check"></i> API Usage</li>
          <li><i class="fa fa-check"></i> No Ads</li>
        </ul>
      </div>

      <div class="col-md-4">
      <h3 style="margin-top: 0;">Login</h3>
        <form class="form" method="post" action="/login">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-success">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container">

  <h2 style="margin-top: 0;">Browse by Department</h2>

  <div class="row">
  {{ range .result }}
  <div class="col-xs-3 col-sm-1">
    <a href="/department/{{ . }}" style="margin-bottom: 15px;">{{ . }}</a>
  </div>
  {{ end }}
  </div>

{{ if not .loggedIn }}
<br/>
<div class="text-center alert alert-danger">
  <p>Are you a CIO and want to advertise events here? Make an account so that we can get in touch!</p>
</div>
{{ else }}
<br/><br/>
{{ end }}
</div>

{{template "footer.html" .}}
