	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Information scraped from Lou's List once per hour and is not guaranteed to be correct.</p>
					<!-- <p><a href="mailto:support@thecourseforum.com">Petition theCourseForum</a> to allow automated scripts to collect data and integrate it here.</p> -->
				</div>
				<div class="col-md-6">
					<p>Questions? Comments? Concerns?</p>
					<p>Email Hunter Leath (jhl4qf)</p>
				</div>
			</div>
		</div>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26839112-5', 'hunterleath.com');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
	</script>
	{{if eq .RunMode "dev"}}
		{{template "debug.html" .}}
	{{end}}
	</body>
</html>
